* {
  box-sizing: border-box;
}

html {
  color: #19171c;
}

body {
  background-image: url(https://unsplash.com/photos/RpC-9e0ORNM);
}

.articles {
  width: 100%;
}

h1 {
  font-family: helvetica;
  color: #fff;
  text-align: center;
}


.container {
  overflow: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.container .box {
  float: left;
  position: relative;
  width: 33.33%;
  }

.container .box img {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.title {
  font-family: inherit;
  color: black;
  line-height: 0.2;
  position: absolute;
  display: inline-block;
  background-color: white;
  opacity: 0.8;
  padding: 5px;
  bottom: 25px;
  left: 2px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 12px;
  color: purple;
}

@media (min-width: 600px) and (max-width: 900px) {
    .container .box {
        width: 50%;
  }
}

@media (max-width: 600px) {
    .container .box {
        width: 100%;
    }
  }
/*.articles {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.column {
  display: block;
  background: pink;
  position: relative;
  float: left;
  width: 25%;
  margin: 10px;
}

h2 {
  background-color: white;
  display: inline-block;
}

p {
  background-color: white;
  display: inline-block;
}

@media (max-width: 600px) {
    .column {
        width: 100%;
        background: green;
    }
}
@media (min-width: 600px) and (max-width: 900px) {
    .column {
        width: 50%%;
        background: blue;
    }
}
@media (min-width: 900px) {
    .column {
        width: 25%;
        background: yellow;*/
