* {
  box-sizing: border-box;
}

html {
  color: #19171c;
  background-color: #49155c;
}

.header {
  background-color: lavender;
  padding-bottom: 3px;
  padding-top: 2px;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: #000;
  text-align: center;
  font-size: 45px;
}

.articles {
  width: 100%;
  margin-top: 30px;
}

.container {
  overflow: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.container .box {
  float: left;
  position: relative;
  width: 33.33%;
  }

.container .box img {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.title {
  font-family: inherit;
  color: black;
  margin: 0;
  position: absolute;
  display: inline-block;
  opacity: 0.8;
  padding: 5px;
  bottom: 15px;
  left: 2px;
}

h2 {
  font-size: 24px;
  display: inline;
  padding: 3px;
  background-color: lavender;
}

h3 {
  font-size: 15px;
  color: #49155c;
  background-color: lavender;
  margin: 0px;
  padding: 3px;
}

@media (min-width: 600px) and (max-width: 900px) {
    .container .box {
        width: 50%;
  }
    html {
      background-color: pink;
    }
}

@media (max-width: 600px) {
    .container .box {
        width: 100%;
    }
    html {
      background-color: #f9d84d;
    }
  }
